@font-face {
    font-family: 'Play-Regular';
    src:url(../fonts/Play-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat-Regular';
    src:url(../fonts/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'one';
    src:url(../fonts/1.otf) format('truetype');
}
@font-face {
    font-family: 'pop';
    src:url(../fonts/POP.TTF) format('truetype');
}
html, body{
    font-size: 100%;
	background:	#fff;
}
body {
	font-size: 100%;
	font-family: 'Montserrat-Regular';
}
body a{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*--Header-Part-Starts-Here--*/
.header {
	background: rgb(156, 158, 159);
}
.navbar-header {
	background: rgb(34, 34, 34);
	width: 18%;
	float: left;
	text-align: center;
	padding: 0.15em 0px;
}
.navbar-default .navbar-nav > li > a {
	color: #fff !important;
    font-family: "one";
    font-size: 30px;
}
nav.navbar.navbar-default {
	border: none;
}
.navbar {
	margin-bottom: 0px;
}
.container-fluid {
	padding: 0px;
}
.navbar-brand {
	float: none;
	line-height: 0;
	margin: 0px;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
div#bs-example-navbar-collapse-1 {
	padding: 0px;
}
ul.nav.navbar-nav {
	width: 82%;
	float: right;
}
.navbar-nav li {
	width: 20%;
	float: left;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: rgb(255, 255, 255);
	background-color: rgb(5, 166, 179);
}
.hvr-sweep-to-top::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgb(16, 199, 215);
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 100% 0px;
	transform-origin: 50% 100% 0px;
	transition-property: transform;
	-webkit-transition-property: transform;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
}
.nav > li > a {
	padding: 52px 0em;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 22px;
	background-color: rgb(5, 166, 179);
	border-left: 2px ridge rgba(98, 201, 209, 0.298039);
	font-family: 'Play-Regular';
	text-align: center;
	color: rgb(255, 255, 255);
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: rgb(255, 255, 255);
	background-color: rgb(9, 150, 162);
}
/* Bounce To Top */
.hvr-bounce-to-top {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.hvr-bounce-to-top:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #0bc2d1;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
	color: white;
}
.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.navbar-brand > img {
	margin: 0 auto;
}
/*--header-ends--*/



/*--footer-start--*/
.footer {
    /*position: relative;*/
    width: 100%;
	padding: 3em 0px;
	background: #222;
    bottom: 0;
}
.map-marker {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: 30px;
	padding: 0 !important;
	margin-right: 12px;
	border: none;
}
.footer-left p {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	vertical-align: middle;
	display: inline-block;
	font-family: 'Play-Regular';
}
.footer-left p a{
	color:#fff;
}
.footer-left p a:hover{
	color:#05a6b3;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.footer-left ul {
	padding: 0;
	margin-top: 4%;
}
.footer-left ul li {
	list-style: none;
	display: inline-block;
	margin-right: 5px;
}
.footer-left ul li a span {
	background: url(../images/social-icons.png) no-repeat;
	width: 34px;
	height: 34px;
	display: block;
}
.footer-left ul li a span.fb {
	background-position: 0px 0px;
}
.footer-left ul li a span.fb:hover {
	background-position: 0px -34px;
}
.footer-left ul li a span.twit {
	background-position: -34px 0px;
}
.footer-left ul li a span.twit:hover {
	background-position: -34px -34px;
}
.footer-left ul li a span.rss {
	background-position: -68px 0px;
}
.footer-left ul li a span.rss:hover {
	background-position: -68px -34px;
}
.footer-left ul li a span.ggl {
	background-position: -102px 0px;
}
.footer-left ul li a span.ggl:hover {
	background-position: -102px -34px;
}
.footer-left p span{
	display:block;
}
/*--footer-end--*/


#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 50px;
	height: 36px;
	border: none;
	text-indent: 100%;
	background: url(../images/top-arrow.png) no-repeat;
}
